<h3>
  <%= schedule.regular? ? '<span class="permanent-label">Regular</span> &middot'.html_safe : nil %>
  <%= schedule.absent? ? '<span class="absent-label">Absent</span> &middot'.html_safe : nil %>
  <%= schedule.description %>
</h3>
<div class="accordion-field">
  <div class="schedule-effective-days"><span>On Days: </span><%=schedule.days_of_week %></div>

  <div class="schedule-times">
    <div><span><%= schedule.absent? ? 'Absent From: ' : 'Shift Begins: ' %></span><%= schedule.start_time.strftime "%-I:%M %p" %></div>
    <div><span><%= schedule.absent? ? 'Absent Until: ' : 'Shift Ends: ' %></span><%= schedule.end_time.strftime "%-I:%M %p" %></div>
  </div>

  <div class="schedule-dates">
    <div><span>Start Date: </span><%= schedule.start_date.strftime "%-m-%-d-%Y" %></div>
    <div><span>End Date: </span><%= schedule.end_date.strftime "%-m-%-d-%Y" %></div>
  </div>

  <div class="schedule-links">
    <%= link_to 'Edit', edit_student_schedule_path(@student, schedule),
      class: 'button' %>
    <%= link_to 'Delete', student_schedule_path(@student, schedule),
      method: :delete, data: { confirm: 'Permanently delete this schedule?' },
      class: 'button' %>
  </div>
</div>