<div id="user-index-table">
  <div id="index-header">
    <span>Username</span>
    <span>Full Name</span>
  </div>
  <% @students.each do |student| %>
      <div class="index-row">
        <span><%= student.umbcusername %></span>
        <span><%= student.displayName %></span>
        <%= link_to 'Show', student, class: 'button' %>
        <%= link_to 'Edit', edit_student_path(student), class: 'button' %>
        <%= link_to 'New Schedule', new_student_schedule_path(student), class: 'button' %>
        <%= link_to 'Delete User', student, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %>
      </div>
  <% end %>
</div>