<!DOCTYPE html>
<html>
<head>
  <title>Studentscheduler</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "default", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- start header -->
<div id="header">
  <div id="logo">
    <h1><%= link_to 'LITS Student Schedule', calendar_path %></h1>
    <h2>by David Bassett</h2>
  </div>
  <div id="menu">
    <span><%= link_to 'Calendar', calendar_path, class: 'button' %></span>
    <% if session[:admin] %>
        <span><%= link_to 'Students', students_path, class: 'button' %></span>
        <span><%= link_to 'Admins', administrators_path, class: 'button' %></span>
    <% end %>
    <% if session[:registered] and not session[:admin] %>
        <span><%= link_to 'My Schedules', student_path(session[:user_id]), class: 'button' %></span>
        <span><%= link_to 'New Schedule', new_student_schedule_path(session[:user_id]), class: 'button' %></span>
    <% end %>
    <span><%= link_to 'Logout', logout_path, class: 'button' %></span>
  </div>
</div>
<!-- end header -->

<div id='page'>
    <%= yield %>
</div>

<!-- start footer -->
<div id="footer">
  <div class="wrap">

  </div>
  <p id="legal">&copy; 2013 University of Maryland, Baltimore County.</p>
</div>
<!-- end footer -->

</body>
</html>
