<!DOCTYPE html>
<html>
<head>
  <title>Studentscheduler</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- start header -->
<div id="header">
  <div id="logo">
    <h1><%= link_to 'LITS Student Schedule', calendar_path %></h1>
    <h2>by David Bassett</h2>
  </div>
  <div id="menu">
    <%= link_to 'Calendar', calendar_path, class: 'button' %>
    <% if user_in_group? :admin %>
        <%= link_to 'Students', students_path, class: 'button' %>
        <%= link_to 'Admins', administrators_students_path, class: 'button' %>
    <% end %>
    <% if user_in_group? :student %>
        <%= link_to 'My Schedules', student_path(current_user), class: 'button' %>
        <%= link_to 'New Schedule', new_student_schedule_path(current_user), class: 'button' %>
    <% end %>
    <%= link_to 'Logout', shibbolite.logout_path, class: 'button' %>
  </div>
</div>
<!-- end header -->

<div id='page'>
    <p id='notice'><%= notice %></p>
    <%= yield %>
</div>

<!-- start footer -->
<div id="footer">
  <div class="wrap">

  </div>
  <p id="legal">&copy; 2015 University of Maryland, Baltimore County.</p>
</div>
<!-- end footer -->

</body>
</html>
